/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* End reset CSS */

body {
  background-color: #111133;
  color: #e8e8e8;
  font-family: Century Gothic, sans-serif;
  font-size: 1.05em;
}

p {
  margin-bottom: 1em;
  line-height: 1.2em;
}

main, .gallery, header {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

main, .gallery {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

header {
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
}

body.fish-page {
  background-size: 100% 100%;
  transition: background-image 3s ease-in-out;
}

body.takatsu-zyou {
   background-image: url('seisokuchi/takatsu-zyou.jpg');
}

body.takatsu-chuu {
   background-image: url('seisokuchi/takatsu-chuu.jpg');
}

body.takatsu-ge {
   background-image: url('seisokuchi/takatsu-ge.jpg');
}

body.takatsu-kakou {
   background-image: url('seisokuchi/takatsu-kakou.jpg');
}

body.masuda-zyou {
   background-image: url('seisokuchi/masuda-zyou.jpg');
}

body.masuda-chuu {
   background-image: url('seisokuchi/masuda-chuu.jpg');
}

body.masuda-ge {
   background-image: url('seisokuchi/masuda-ge.jpg');
}

body.masuda-kakou {
   background-image: url('seisokuchi/masuda-kakou.jpg');
}

div.fish-page {
  background-color: #111144;
  max-width: 700px;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

table, th, td {
  border: 1px solid white;
}

td {
  padding: 0.3em;
}

#rarity {
 border: 1px solid white;
 min-height: 95px; /* To equal fish habitat table */
}

#rarity-stars {
 border-top: 1px solid white;
 color: yellow;
 padding-top: 12px;
}

#rarity h3 {
  margin-bottom: 0.15em;
  margin-top: 0.15em;
  font-size: 1.5em;
}

header.fish-header > div {
 width: 48%;
 text-align: center;
 margin-bottom: 1em;
}

header.fish-header img {
 max-width: 95%;
 max-height: 80%;
 margin: 0 auto;
 border: 2px solid white;
}

div#location {
  margin-right: 5px;
}

header.fish-header table {
 text-align: center;
 margin: 0 auto;
 width: 100%;
}

header.fish-header p {
  font-size: 1.2em;
}

header.ichiran-header {
  background-image: url("low-res/takatsugawa.jpg");
  background-size: 50%;
  border-radius: 10px;
}

article {
  font-size: 1.4em;
  min-height: 38.1vh;
}

.gallery {
 padding: 5px 5px 5px 5px;
}

a {
  color:#FFFFFF;
  text-decoration: none;
}
a:visited {color:#FFFFFF;}
a:hover {color:#FFFFFF;}
a:active {color:#FFFFFF;}

.fish-tile, figure {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  margin: 0.5vw;
}

figure {
  max-width: 48%;
}

.fish-tile {
  height: 150px;
}

.fish-tile:hover {
  border-color: orange;
  -webkit-transform: scale(1.125, 1.125);
  transform: scale(1.125, 1.125);
}

.fish-tile span, figure figcaption {
  display: block;
  text-align: center;
}

.fish-tile img {
  max-width: 100%;
  min-width: 100%;
  max-height: 75%;
}

.fish-tile span {
  margin-top: 0.4em;
}

figure img {
  max-width: 100%;
  max-height: 100%;
}

figure figcaption {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.navigation-link {
  display: block;
  min-width: 98%;
  background-color: #4479BA;
  padding-top: 1vh;
  padding-bottom: 1vh;
  line-height: 10vh;
  font-size: 5vw;
  text-align: center;
  border-radius: 10px;
}

.navigation-link:hover {
  background-color: orange;
}

@media(max-width: 700px) {
  body.fish-page {
    background-image: none;
  }
  div.fish-page {
    margin-top: 0;
  }
}

@media(max-width: 635px) {
  div#location {
    width: 98%;
    margin-bottom: 5px;
    margin-right: 0;
  }
  #rarity{
    width: 98%;
    min-height: 0; /* no reason to equal location table any more */
  }
  #rarity-stars {
    padding-top: 0;
  }
  #rarity h3 {
    font-size: 1em;
  }
  header.ichiran-header {
    background-size: 100%;
  }
  figure {
    max-width: 100%;
  }
}

@media(max-width: 490px) {
  header.fish-header p {
    font-size: 0.95em;
  }
  header h1 {
    font-size: 2.5em;
  }
}

@media(max-width: 320px) {
  div#location {
    font-size: 0.95em;
  }
  header h1 {
    font-size: 2em;
  }
}

@media print {
  * {
    background-color: white;
    color: black;
  }

  article {
    width: 100%;
  }

  .navigation-link {
    display: none;
  }
}