@import "compass/reset";
@import "compass/css3/flexbox";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "compass/css3/box-sizing";

$primary-background: #113;
$secondary-background: #119;
$interactable: #4479ba;
$highlighted: #808;
$print-background: #fff;
$text-color: #e8e8e8;
$print-text-color: #000;
$no-background: "(max-width: 700px)";

// You cannot 100% tell whether a device is a touch screen just by screen size,
// but you can get a decent heuristic that will handle most cases and allow
// you to, in those cases, remove certain effects (specifically hover effects) 
// that don't work or that work suboptimally on touch devices.
$not-touch: "(min-width: 1025px)";
$search-area-transition-time: .7s;
$background-transition-time: .5s;
$small-font-size: .8em;

/* Begin general HTML element styles */

body {
  background: $primary-background;
  color: $text-color;
  font-family: Century Gothic, sans-serif;
  font-size: 1.5em;
  @media print {
    background: $print-background;
    color: $print-text-color;
    font-size: .5em;
  }
}

h1 {
  font-size: 2em;
  padding: .5em 0;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 1.6em;
  }
}

h2 {
  font-size: 1.5em;
  margin: .5em 0;
  @media (max-width: 600px) {
    font-size: 1.3em;
  }
}

%p {
  line-height: 1.2em;
  margin-bottom: .5em;
  &:last-child {
    margin-bottom: 0;
  }
}

p {
  @extend %p;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
}

td,
th {
  padding: .25em;
}

a,
a:visited {
  color: $text-color;
  text-decoration: none;
}

img {
  @include box-sizing(border-box);
  border: 1px solid;
}

footer {
  overflow: auto;
}

/* End general HTML element styles */

/* Begin utility class styles */

%binary-list {
  margin: auto;
  text-align: left;
  li {
    margin: .3em 0;
  }
  div {
    display: inline-block;
    vertical-align: top;
    line-height: 1.2em;
    &:first-child {
      text-align: right;
      width: 20%;
    }
  }
}

%rounded-border {
  border-radius: 7px;
}

%clickable {
  background: $interactable;
  @include single-transition(background, $background-transition-time);
  &:hover {
    background: $highlighted;
  }
}

@mixin tile-img-height($height) {
  margin: .5vw ($height * (1 / 3) * (9 / 22));
  border-width: $height * (1 / 3) * (2 / 22);

  img {
    max-height: $height;
  }
}
.tile {
  @extend %rounded-border;
  @include tile-img-height(8.5vw);
  font-size: 1.3vw;

  @media (min-width: 1500px) {
    @include tile-img-height(133px);
    font-size: 0.9em;
  }

  @media (max-width: 900px) {
    @include tile-img-height(14.4vw);
    font-size: 2.1vw;
  }

  @media (max-width: 450px) {
    font-size: 5vw;
    margin: .5vw 1vw;
    border-width: 1vw;
    img {
      max-height: 32vw;
      min-width: 46vw;
      max-width: 96vw; 
    }
    img.long {
      max-height: 100%;
    }
  }
  border-style: solid;
  display: inline-block;
  letter-spacing: -.1em;
  div {
    margin: .1em 0 .2em;
    text-align: center;
  }
  @include transition-property(all);
  @include transition-duration($background-transition-time);
  @media #{$not-touch} {
    &:hover {
      @include transform(scale(1.1, 1.1));
      border-color: $highlighted;
    }
  }
}

.jumbo-link {
  @extend %clickable;
  @extend %rounded-border;
  display: block;
  font-size: 2em; 
  margin: .3em 0; 
  padding: .2em 0;
  text-align: center;

  @media (max-width: 500px) {
    font-size: 12vw;
    padding: 1.2vw 0;
  }
  @media print {
    display: none;
  }
}

/* End utility class styles */

/* Begin styles for elements included on every page (i.e., in base.html) */

nav ul {
  width: 100%;
  li {
    @include box-sizing(border-box);
    display: inline-block;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 20%;
    &:nth-child(1) {
      border-left: none;
    }
    a {
      @extend %clickable;
      text-align: center;
      display: inline-block;
      width: 100%;
      padding: .5em 0;
      @media (max-width: 450px) {
        font-size: .7em;
        border-bottom: 1px solid #000;
      }
    }
    @media (max-width: 1150px) {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        width: 33.3%;
      }
      &:nth-child(4), &:nth-child(5) {
        width: 50%;
      }
      &:nth-child(4) {
        border-left: none;
      }
    }
  }
  @media print {
    display: none;
  }
}

#appcache-notifications {
  display: none;
  &.displayed {
    background: #00f;
    display: block;
    padding: .5em 0;
    &.finished {
      background: #0b0;
    }
  }
}

/* Begin simple page styles (home, about, mamechishiki, reference documents) */

%text-page {
  margin: 0 auto 1em;
  max-width: 960px;
  padding: 0 3%;
  text-align: center;
  p {
    text-align: justify;
    text-indent: 1.5em;
  }
}

.home {
  @extend %text-page;
  img {
    margin-bottom: .5em;
    max-width: 100%;
  }
  h1 {
    @media (max-width: 900px) {
      font-size: 5.5vw;
    }
    @media (max-width: 600px) {
      font-size: 7.5vw;
    }

    @media (max-width: 450px) {
      font-size: 9vw;
    }
  }
  .signature p {
    text-indent: 0;
    text-align: right;
    @media (max-width: 459px) {
      font-size: 5vw;
    }
  }
}

.mamechishiki {
  @extend %text-page;
  h2 {
    margin-top: 0;
    margin-bottom: .25em;
  }
  a {
    &:hover {
      color: $highlighted;
    }
  }
  li {
    margin: 1em 0;
  }
}

.image-bar {
  margin: 1em 0;
  img {
    width: 48%;
  }
}

.sankou-page,
.about-page {
  text-align: center;
}

.about-page {
  @extend %text-page;
  .acknowledgements p {
    text-align: justify;
    text-indent: 0;
  }
  h1 {
    @media (max-width: 620px) {
      font-size: 7vw;
    }
    @media (max-width: 450px) {
      font-size: 12vw;
    }
  }
  ul {
    @extend %binary-list;
    max-width: 390px;
    @media (max-width: 400px) {
      font-size: 5.5vw;
    }
  }
  a:hover {
    color: $highlighted;
  }
}

.sankou-page table {
  margin: auto;
  margin-bottom: 1em;
}

/* End simple page styles */

/* Begin ichiran styles */

.ichiran-header {
  background-image: url("/images/takatsugawa-header-background.jpg");
  background-size: 100%;
  @extend %rounded-border;
}

.tiles {
  @include display-flex(flex);
  @include justify-content(center);
  @include flex-wrap(wrap);
  li {
    display: inline-block;
    &.hidden {
      display: none;
    }
  }
}

.search-dropdown-control,
.search-header {
  background: $secondary-background;
  @extend %rounded-border;
  padding: .2em .6%;
}

.search-dropdown-control {
  margin-bottom: .1em;
}

#dropdown-caret {
  @include user-select(none);
  @include transition-property(transform, background);
  @include transition-duration($search-area-transition-time, $background-transition-time);
  background: $interactable;
  border-radius: 50%;
  cursor: default;
  display: inline-block;
  font-size: $small-font-size;
  margin-left: 1em;
  padding: .5em .4em .3em;
  -webkit-touch-callout: none;
  &:hover {
    background: $highlighted;
  }
  &.collapsed {
    @include transform(rotate(90deg));
  }
}

#search-area {
  $search-area-breakpoint: "(max-width: 628px)";
  @include display-flex(flex);
  @include flex-direction(column);
  @include transition-property(all);
  @include transition-duration($search-area-transition-time); 
  @include translateZ(0);
  font-size: $small-font-size;
  max-height: 200px;
  // necessary for height transition
  overflow: hidden;
  opacity: 1.0;
  @media #{$search-area-breakpoint} {
    max-height: 300px;
  }
  ol {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include flex-direction(row);
  }
  li {
    background: $interactable;
    @extend %rounded-border;
    display: inline-block;
    padding: .25em 0;
    text-align: center;
    width: 24.8%;
  }
  .search-header,
  li {
    margin-bottom: .2em;
  }
  .search-header {
    display: flex;
    align-items: center;
  }
  [type='text'],
  [type='number'] {
    @extend %rounded-border;
    font-size: inherit;
    margin-left: 2%;
  }
  [type='number'] {
    width: 3em;
  }
  .ryuuiki {
    display: inline-block;
    text-align: left;
    width: 58%;
    margin-left: 2%;
  }
  .boxes {
    display: inline-block;
    width: 38%;
    text-align: right;
    margin-right: 2%;
  }
  .seisokuchi-search {
    [type='checkbox'] {
      display: none;
    }
    label {
      display: inline-block;
      padding: .2em;
      @extend %rounded-border;
      @include single-transition(background, .5s);
      &.exclude {
        background: #644;
        @media #{$not-touch} {
          &:hover {
            background: #b44;
          }
        }
      }
      &.include {
        background: #464;
        @media #{$not-touch} {
          &:hover {
            background: #4b4;
          }
        }
      }
    }
    [type=checkbox]:checked + label {
      &.exclude {
        background: #ff2424;
      }
      &.include {
        background: #24dd24;
      }
    }
  }
  &.collapsed {
    opacity: 0;
    max-height: 0;
  }
  @media #{$search-area-breakpoint} {
    .individual-river-section {
      display: inline-block;
      width: 49%;
    }
    ol {
      @include flex-direction(column);
      width: 100%;
    }
    li {
      width: 100%;
    }
  }
}

/* End ichiran styles */

/* Begin animal page styles */

body.animal-page {
  background-size: 100% 100%;
  background-attachment: fixed;
  transition: background-image 3s ease-in-out;
  @media #{$no-background} {
    background-image: none;
  }
}

$seisokuchi: "takatsu-zyou", "takatsu-chuu", "takatsu-ge", "takatsu-kakou", "masuda-zyou", "masuda-chuu", "masuda-ge", "masuda-kakou";

@each $a-seisokuchi in $seisokuchi {
  body.#{$a-seisokuchi} {
    background-image: url(/images/seisokuchi/#{$a-seisokuchi}.jpg);
  }
}

main.animal-page {
  background: $primary-background;
  @extend %rounded-border;
  margin: 2vh auto;
  max-width: 700px;
  padding: 2vh 2vw 0 2vw;
  @media print {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  @media #{$no-background} {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.animal-header {
  $animal-header-bottom-split: "(max-width: 725px)";
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include flex-direction(row);
  border-bottom-color: $text-color;
  border-bottom-style: solid;
  border-bottom-width: .3em;
  text-align: center;
  > div,
  img,
  table,
  ul {
    @include box-sizing(border-box);
    margin: 0 1% 1em;
    width: 48%;
  }
  @media (max-width: 450px) {
    img.long {
      width: 100%;
    }
    img.long + .classification {
      width: 100%;
    }
    table {
      font-size: .9em;
    }
  }
  img,
  .classification {
    @include align-self(center);
  }
  li {
    @extend %p;
    font-size: $small-font-size;
    @media #{$no-background} {
      font-size: .7em;
      line-height: 1.1em;
      margin-bottom: .3em;
    }
  }
  table,
  .rarity {
    @media #{$animal-header-bottom-split} {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
  td,
  .rarity-header {
    padding: .25em;
  }
  .rarity-header {
    @media #{$animal-header-bottom-split} {
      padding: 0;
    }
  }
  .rarity-stars {
    @media #{$animal-header-bottom-split} {
      padding-top: 0;
    }
  }
}

.rarity {
  border: 1px solid;
}

.rarity-stars {
  border-top: 1px solid $text-color;
  color: #ff0;
  padding-top: 1em;
}

article {
  min-height: 25vh;
  > div {
    border-bottom-style: solid;
    border-bottom-width: .3em;
    padding-bottom: 1em;
    padding-top: 1em;
    &.captioned-section {
      @include display-flex(flex);
      @include justify-content(top);
      @include align-content(top);
      @include align-items(center);
      /* necessary to prevent images from stretching */
      @include flex-direction(row);
      > img {
        display: inline-block;
        margin-right: 1em;
        max-width: 40%;
        min-width: 40%;
      }
    }
  }
}

/* End animal page styles */
