{% extends "sakana/sakana.html" %}

{% block content %}
<article>



<p>
</p>

<figure>
	<img src="/static/low-res/ichiran/akaza.jpg"></img>
	<figcaption>この魚の鼻をよく見ろ</figcaption>
</figure>
<p>
アカザの特徴として体が赤くヌルヌルしており、背びれと胸びれにはトゲがある。
刺されるととても痛いことから、高津川流域では”てっきり”と言われる。
</p>
	ひげは８本で尻びれが丸い形をしているのも特徴。
	<figure>
		<img src="/static/low-res/yoko-sugata/akaza-yoko.jpg"></img>
		<figcaption>横姿</figcaption>
	</figure>

<p>
	【生息場所】
</p>
<p>
	・高津川と益田川
</p>
<p>
	・上流の限られた場所に生息する
</p>





</article>

{% endblock %}
