{% extends "sakana/sakana.html" %}

{% block content %}
<article>

<p>
	アマゴは成魚で25cmになる。体の側面にそってパーマークという黒い小判模様が7〜10個あるのが特徴。
	また、赤い点もたくさんある。食べるととてもおいしい。
</p>

<p>
	尾びれの前にアブラビレというヒレがあるのはサケの仲間共通の特徴。川の上流のきれいで冷たい水の渓流でないと生息できない。
	元々高津川には赤い点のないヤマメが生息していたが瀬戸内海側に流れる川に住んでいたアマゴを放流したため現在は両方が生息し
	交雑によってどちらともとれない魚が多くいる。
</p>
<p>
	最近の研究ではヤマメとアマゴは種類的には同じ物ということになっている。
	アマゴが海に下るとサツキマスという鱒になる。
</p>

<figure>
	<img src="/static/low-res/ichiran/bora.jpg"></img>
	<figcaption>この魚の鼻をよく見ろ</figcaption>
</figure>



</article>

{% endblock %}
