{% extends "base.html" %}

{% block header %}
<figure>
	<img src="/static/low-res/ichiran/{{fish.romaji}}.jpg"></img>
	<figcaption>{{fish.kana}}</figcaption>
</figure>
<div>
<p>ラテン名：{{fish.latin}}</p>
<p>科： {{fish.genus}}</p>
<table>
<th>
<td>上流</td>
<td>中流</td>
<td>下流</td>
<td>河口</td>
</th>
<tr>
<td>高津川</td>
<td>{{"&#x25EF" if fish.takatsu_zyou()}}</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>益田川</td>
<td>{{"&#x25EF" if fish.masuda_zyou()}}</td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</div>
{% endblock %}

{% block footer %}
<a href="/"><div class="navigation-link">一覧へ戻る</div></a>
<!--<a href="/"><button type="button">一覧へ戻る</button></a>-->
{% endblock %}