{% extends "base.html" %}

{% set body_class = "ichiran-body" %}
{% set title = "一覧" %}

{% block content %}

<script async type="application/dart" src="/ichiran.dart"></script>
<script async src="/packages/browser/dart.js"></script>

<header class="ichiran-header">
	<h1>生き物一覧</h1>
</header>

<div class="search-dropdown-control"><span id="dropdown-label">検索エリアを表示</span><span id="dropdown-caret" class="collapsed">&#x25BC;</span></div>

<div id="search-area" class="collapsed">

  <div class="search-section">
    <div class="search-header">記事のテキストで検索<input type="text" id="article-search"></div>
  </div>

	<div class="search-section">
		<div class="search-header">生息地で検索</div>

		{% for river in kawa %}
		<div class="individual-river-section">
			<ol>
			{% for a_ryuuiki in ryuuiki %}     
      <li>
        <div class="ryuuiki">{{river['kanji']}}{{a_ryuuiki['kanji']}}</div><div class="boxes">
          {% for mode, kanji in [("include", "必"), ("exclude", "除")] %}   
          <input type="checkbox" class="search-checkbox {{mode}}" id="{{river['romaji']}}-{{a_ryuuiki['romaji']}}-{{mode}}" name="{{river['romaji']}}-{{a_ryuuiki['romaji']}}-{{mode}}">
          <label for="{{river['romaji']}}-{{a_ryuuiki['romaji']}}-{{mode}}" class="{{mode}}">{{kanji}}</label>
		      {% endfor %}
        </div>
		  </li>
			{% endfor %}
			</ol>
		</div>
		{% endfor %}
	</div>

</div>

<ol class="animal-tiles">
	{% for animal in animals %}
	<li data-animal-name="{{animal.romaji}}">
		<a href="{{animal.get_link()}}" class="animal-tile">
  			<img {% if animal.is_long() %} class="long" {% endif %} src="{{animal.	image('ichiran')}}" alt="">
  			<div>{{animal.display_name()}}</div>
		</a>
	</li>
	{% endfor %}
</ol>

{% endblock %}
