{% extends "base/ikimono.html" %}

{% block article %}

{% from 'animal-page-macros.html' import article_section %}


{% call article_section("") %}
<p>成魚サイズ：約10cm</p>
{% endcall %}

{% call article_section("") %}
<p>普通のハゼの仲間と違い、中層に浮いている事が多いのでウキゴリという。</p>
<p>体は長細くハゼ型。ハゼの仲間共通の腹ビレが吸盤になっている。</p>
{% endcall %}

{% call article_section(animal.image('kuchi')) %}
<p>受け口顔をしている。</p>

{% endcall %}

{% call article_section(animal.image('sebire')) %}
<p>スミウキゴリにそっくりなウキゴリは背ビレに黒い斑紋がある。スミウキゴリには無い。</p>
{% endcall %}

{% endblock %}
