{% extends "base/mamechishiki.html" %}

{% block article %}

<h2>{{title}}｢ゴギ｣</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(page_name, "gogi-1", "gogi-2") }}

<p>
ゴギは中国地方に生息するイワナの一種です。
</p>
<p>
日本の淡水魚の中で最も山の高いところまで住む魚がイワナですが、元々はアメマスという、サケのように海と川を行き来する北の魚でした。
</p>
<p>
大昔、氷河期の頃には海の水が冷たく、ゴギの先祖であるアメマスたちは今よりずっと南の方まで住んでいました。ところが氷河期の終わりとともに海の水が温かくなり海に下ることができなくなったアメマスたちは水温の低い川の上流へと追いやられ、とうとう山奥の渓流に閉じ込められて今のイワナとなったのです。
</p>
<p>
高津川のゴギは日本の最も西の端に住むイワナです。ということは氷河期の終わり、一番古い時代に最初に山に閉じ込められたということになります。
</p>
<p>
日本の、と言うより世界のイワナ類の中で最も南に住むゴギ、最近は山奥の開発や釣り人の乱獲などによってその数を減らしています。世界的に貴重なゴギが絶滅することのないように、みんなで守っていかなくてはなりません。
</p>
{% endblock %}
