{% extends "base/mamechishiki.html" %}

{% set title = "食べたり食べられたり" %}

{% block article %}
<h2>ツガニと鮎：{{title}}不思議な関係</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(page_name, "ayu", "tsugani") }}

<p>
アユとツガニはどちらも高津川を代表する味覚です。魚とカニ、お互い何の関係もないように見えますが、実は深い関係があります。
</p>
<p>
アユもツガニも一生のうちの一時期を海で過ごします。アユは秋に川の下流で生まれ孵化した赤ちゃんアユは川の流れに乗って海まで行きます。沿岸で育つ赤ちゃんアユのエサは動物プランクトン、このエサにツガニが大きく関係しています。
</p>
<p>
ツガニはアユよりも少し遅れて冬に河口で卵を産みます。孵化した赤ちゃんガニは親ガニとは全く違う形、プランクトンの状態で海を漂います。このプランクトン状態の赤ちゃんガニが育ち盛りの稚アユたちの良いエサとなるのです。
</p>
<p>
エサをたくさん食べて力を付けた稚アユたちは春先に川を上り、夏に川で大きく成長します。やがて秋、大人になったアユたちは再び川を下り、産卵ののち、1年の短い一生を終えます。
</p>
<p>
ちょうどその頃、川を下ってきた親のツガニは、役目を終えて死んだ親アユを食べることで産卵のための力を付けて河口に向かうのです。このような食べたり食べられたりの不思議な関係で、アユとツガニはお互いの命をつないできたのです。
</p>
{% endblock %}
