{% extends "base/mamechishiki.html" %}

{% block article %}
<h2>{{title}}…高津川に名前をもらった魚たち</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(page_name, "ishidojou", "ishidonko") }}

<p>
今から50年ほど前、1963年に益田高校が行なった高津川総合調査がきっかけとなって新種の魚が発見されました。高津川で発見されたことから、この魚には高津川にちなんだ名前が付けられました。名前を「イシドジョウ」と言います。どこに高津の名前が？と思われるかも知れませんが実は生き物には日本の名前とともに世界中で通用する学名という名前が付けられています。｢イシドジョウ｣は学名を｢ゴビチス　タカツエンシス｣といい、タカツの名前をもらったのです。
</p>
<p>
イシドジョウの発見から約40年がたった2002年、高津川で再び新種の魚が発見されました。名前を｢イシドンコ｣と言います。イシドンコには「オドントバティス　ヒキミウス」と言う学名が付けられ、発見された匹見川のヒキミという名前をもらいました。
</p>
<p>
新種の発見は微生物や深海魚ならそう珍しいことではありませんが人の目につきやすい淡水魚では滅多にあることではなく、イシドジョウの発見からイシドンコの発見までに日本で発見された淡水魚はたった1種類しかありません。つまり40年間に日本で発見された3種類の淡水魚のうち2種類が高津川で発見されたと言うことになるのです。
</p>

{% endblock %}
