{% extends "base.html" %}

{% set body_class = "ichiran-body" %}
{% block content %}

<script async type="application/dart" src="index.dart"></script>
<script async src="packages/browser/dart.js"></script>

<header class="ichiran-header">
	<h1>高津川流域魚図鑑</h1>
</header>

<div class="search-dropdown">検索エリアを表示<span id="dropdown-caret">&#x25BC</span></div>
<div class="search-area">

	<div class="search-section" id="include">
		<div class="search-header">以下の生息地に住んでいる魚しか含まない</div>
		<div class="individual-river-section">
		<ol>
			{% for a_ryuuiki in ryuuiki %}
			<li><label>高津川{{a_ryuuiki[1]}}<input type="checkbox" class="search-checkbox" id="takatsu-{{a_ryuuiki[0]}}-include"></label></li>
			{% endfor %}
		</ol>
	</div>
	<div class="individual-river-section">
	<ol>
		{% for a_ryuuiki in ryuuiki %}
		<li><label>益田川{{a_ryuuiki[1]}}<input type="checkbox" class="search-checkbox" id="masuda-{{a_ryuuiki[0]}}-include"></label></li>
		{% endfor %}
	</ol>
</div>
</div>

<div class="search-section" id="exclude">
	<div class="search-header">
		以下の生息地に住んでいる魚を除く</div>
		<div class="individual-river-section">
		<ol>
			{% for a_ryuuiki in ryuuiki %}
			<li><label>高津川{{a_ryuuiki[1]}}<input type="checkbox" class="search-checkbox" id="takatsu-{{a_ryuuiki[0]}}-include"></label></li>
			{% endfor %}
		</ol>
	</div>
	<div class="individual-river-section">
	<ol>
		{% for a_ryuuiki in ryuuiki %}
		<li><label>益田川{{a_ryuuiki[1]}}<input type="checkbox" class="search-checkbox" id="masuda-{{a_ryuuiki[0]}}-include"></label></li>
		{% endfor %}
	</ol>
</div>

</div>
</div>

<main>
	{% for fish in fish %}
	{{fish.render_tile()}}
	{% endfor %}
</main>

{% endblock %}