{% extends "base/sakana.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

% call article_section("") %}
<p>成魚サイズ：約6cm</p>
<p>地方名：ゴリ、ヘソゴリ、セゴリ</p>
{% endcall %}

{% call article_section("") %}
<p>ヨシノボリの中では唯一海に下らないで一生を川で生活する。</p>
<p>ヨシノボリの仲間は見分けが非常に難しい。</p>
{% endcall %}

{% call article_section(fish.image('hara')) %}
<p>ハゼの仲間共通の腹ビレが吸盤になっている。</p>

{% endcall %}

{% call article_section(fish.image('sebire')) %}
<p>オスの背ビレは長く伸びる。</p>
{% endcall %}

{% endblock %}
