{% extends "base/sakana.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約4.5cm</p>
{% endcall %}

{% call article_section("") %}
<p>色は暗灰色から灰褐色。</p>
{% endcall %}

{% call article_section(fish.image('hara')) %}
<p>腹は白色で、よく似ているツチガエルとは腹の色で見分ける。</p>
<p>腹が灰色→ツチガエル</p>
<p>腹が白色→ヌマガエル</p>
{% endcall %}

{% call article_section(fish.image('ue')) %}
<p>背中にいぼ状の膨らみが多数ある。</p>
<p>しかしツチガエルほどゴツゴツしていない。</p>
{% endcall %}

{% endblock %}
