{% extends "base/sakana.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

{% call article_section("") %}
<p>体は長細く平べったい。元々は高津川にいなかったが、放流されたアユとともに琵琶湖から入って来た。</p>

{% endcall %}

{% call article_section(fish.image('ohire')) %}
<p>尾ビレは長く大きい。</p>
<p></p>
{% endcall %}

{% call article_section(fish.image('yoko')) %}
<p>普段は銀色の体だが、産卵期のオスは青やオレンジの不規則な縞模様ができ派手な色になる。</p>
{% endcall %}


{% call article_section(fish.image('kao')) %}
<p>産卵期のオスの顔に白くゴツゴツした追星ができる。</p>
{% endcall %}

{% endblock %}
