{% extends "base/mamechishiki.html" %}

{% block article %}
<h2>アユカケの鮎漁</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(self | title, "ayukake-1", "ayukake-2") }}

<p>
アユカケはカマキリともいいます。えらぶたにあるカマのような大きなトゲでアユをひっかけて食べると言い伝えられています。アユの刺し網漁をしていると、川の底でダイヤモンドのようにきらきらと光る物が見えるときがあります。
</p>
<p>
アユカケがアユを引っかけて、口に持って行こうとクルクル体を回すため、アユの腹がキラキラ光って見えるのだと川漁師さんは言います。また、アユカケは石の隙間で石と同じ色になってじっと動かずにいます。これをアユカケの石化けといいます。アユカケがそこにいることに気づかないアユが近寄ってきたら突然大きな口でパックリとくわえます。
</p>
<p>
アユをたっぷりと食べるアユカケは当然とても美味しい魚です。北陸地方の川では冬のアラレの降るころ産卵のため川を下ることからアラレガコとよび、とても珍重します。
</p>
<p>
高津川のアユカケはとても大きくなり、昔は30cmを越えるものも珍しくなかったそうです。今ではそこまでの大物は滅多にいませんがそれでも全国の川で高津川のアユカケの大きさはピカ一なのです。
</p>
{% endblock %}
