{% extends "base/mamechishiki.html" %}

{% block article %}

<h2>伝説の怪魚「カイオ」</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(self | title, "kaio", "yamemasu") }}

<p>
高津川の上流、横道川(津和野町日原)に「カイオ」と呼ばれる正体不明の魚の伝説があります。
</p>
<p>
カイオは源流に住む「ゴギ」とよく似ていますが「大きさが20ないし30センチばかりで、海から上がって来て、特に大水が出たとき、大量に遡る」(日原の生物　宮本巌著)といわれています。
</p>
<p>
ゴギ(イワナ)が海に行くと、ヤマメがサクラマスになるように、アメマスという魚になります。アメマスは東北地方より北にしかいないとされている魚で、もしカイオがアメマスなら日本のアメマスの分布を大幅に塗り替える大発見になります。
</p>
<p>
また、なぜ「カイオ」という名前なのでしょう？海魚(かいうお)？あるいは回魚(かいうお)ではないか？と考える人もいます。昔のイワナの呼び名「嘉魚(かぎょ)」(良い魚の意味)が「かいお」という言葉となって残っているのではないか？と言う説もあります。
</p>
<p>
いずれにしても、昔は大量に遡るとまで言われたカイオも今ではほとんど見ることができなくなりました。下流にダムのない川として知られる高津川にも堰(せき)や堰堤(えんてい)などはたくさんあり、魚の行き来を難しくしています。その正体が解明される日はいつなのでしょうか？
</p>
{% endblock %}
