{% extends "base/mamechishiki.html" %}

{% set title = "助け合い" %}

{% block article %}
<h2>{{title}}：タナゴと二枚貝</h2>

{% import 'mamechishiki-macros.html' as macros %}

{{ macros.image_bar(self | title, "aburabote", "matsukasagai") }}

<p>
高津川の中流から下流の限られた支流にアブラボテなどの珍しいタナゴの仲間が住んでいます。
</p>
<p>
土地の人たちからニゴーズと呼ばれる小さな魚ですが、とても面白い習性があります。それは、川の底に住んでいるマツカサガイやドブガイなど2枚貝の中に卵を産み、貝に稚魚を守ってもらうというものです。
</p>
<p>
タナゴの種類ごとに産む貝の種類も決まっているほどそのつながりは密接で、水質に敏感な二枚貝が住めないような川になってしまうとタナゴも絶滅してしまいます。
</p>
<p>
二枚貝の方もタナゴに助けてもらっています。二枚貝の赤ちゃんは、タナゴなどの魚のエラや皮膚に張り付いて生活するのです。こうやってタナゴと二枚貝はお互いに助け助けられながら生活しています。
</p>
<p>
アブラボテは日本に昔からいるタナゴの仲間ですが、島根県ではもう高津川と江の川でしか見られません。私たちの身近な小川に住む貴重な生き物たちはそれぞれがつながりを持って生きています。人間の生活に直接関係ないように見える生き物たちもいなくなれば、どんな影響があるのか分からないのです。
</p>
{% endblock %}
