{% extends "base.html" %}

{% set title = "コンタクト" %}
{% block content %}

<main class="contact-page">

<h1>お問い合わせ</h1>

<h2><a href="http://www.andante21.org">NPO法人「アンダンテ21」</a></h2>
<ul>
	<li><div>住所：</div><div>〒698-0032　島根県益田市水分町 18-10</div></li>
	<li><div>TEL&amp;FAX：</div><div>0856-24-8661</div></li>
	<li><div>Mail：</div><div>andante2100@gmail.com</div></li>
</ul>
<h2><a href="http://www.city.masuda.lg.jp/soshiki/kakuka.php?sec_sec1=129">益田市町村園事務組合</a></h2>
<ul>
<li><div>住所：</div><div>〒698-8650　島根県益田市常盤町1番1号</div></li>
<li><div>TEL：</div><div>0856-31-0226(企画振興課)</div></li>
<li><div>TEL：</div><div>0856-31-0308(介護福祉課)</div></li>
<li><div>TEL：</div><div>0856-31-0226(焼却施設課)</div></li>
<li><div>TEL：</div><div>0856-31-0119(広域消防本部)</div></li>
<li><div>FAX：</div><div>0856-31-0315</div></li>
</ul>

</main>
{% endblock %}
