{% extends "base.html" %}

{% set title = "ホーム" %}
{% block content %}

<main class="home">
<h1>高津川流域専用さかな図鑑へようこそ</h1>
<img src="images/takatsugawa-home.jpg" alt="">
<p>
私達が住んでいる地域には高津川と益田川という大きな川が流れています。どんなところに、どんな魚が住んでいるか知っていますか？みんなで探検してみよう！！</p>

<a class="navigation-link" href="ichiran.html">図鑑へGO！！</a>

<h1>豆知識</h1>
<h2>新種の発見…高津川に名前をもらった魚たち</h2>
<p>
今から50年ほど前、1963年に益田高校が行なった高津川総合調査がきっかけとなって新種の魚が発見されました。高津川で発見されたことから、この魚には高津川にちなんだ名前が付けられました。名前を「イシドジョウ」と言います。どこに高津の名前が？と思われるかも知れませんが実は生き物には日本の名前とともに世界中で通用する学名という名前が付けられています。｢イシドジョウ｣は学名を｢ゴビチス　タカツエンシス｣といい、タカツの名前をもらったのです。
</p>
<p>
イシドジョウの発見から約40年がたった2002年、高津川で再び新種の魚が発見されました。名前を｢イシドンコ｣と言います。イシドンコには「オドントバティス　ヒキミウス」と言う学名が付けられ、発見された匹見川のヒキミという名前をもらいました。
</p>
<p>
新種の発見は微生物や深海魚ならそう珍しいことではありませんが人の目につきやすい淡水魚では滅多にあることではなく、イシドジョウの発見からイシドンコの発見までに日本で発見された淡水魚はたった1種類しかありません。つまり40年間に日本で発見された3種類の淡水魚のうち2種類が高津川で発見されたと言うことになるのです。
</p>

<h2>氷河期の生き残り｢ゴギ｣</h2>
<p>
ゴギは中国地方に生息するイワナの一種です。
</p>
<p>
日本の淡水魚の中で最も山の高いところまで住む魚がイワナですが、元々はアメマスという、サケのように海と川を行き来する北の魚でした。
</p>
<p>
大昔、氷河期の頃には海の水が冷たく、ゴギの先祖であるアメマスたちは今よりずっと南の方まで住んでいました。ところが氷河期の終わりとともに海の水が温かくなり海に下ることができなくなったアメマスたちは水温の低い川の上流へと追いやられ、とうとう山奥の渓流に閉じ込められて今のイワナとなったのです。
</p>
<p>
高津川のゴギは日本の最も西の端に住むイワナです。ということは氷河期の終わり、一番古い時代に最初に山に閉じ込められたということになります。
</p>
<p>
日本の、と言うより世界のイワナ類の中で最も南に住むゴギ、最近は山奥の開発や釣り人の乱獲などによってその数を減らしています。世界的に貴重なゴギが絶滅することのないように、みんなで守っていかなくてはなりません。
</p>

<h2>伝説の怪魚「カイオ」</h2>
<p>
高津川の上流、横道川(津和野町日原)に「カイオ」と呼ばれる正体不明の魚の伝説があります。
</p>
<p>
カイオは源流に住む「ゴギ」とよく似ていますが「大きさが20ないし30センチばかりで、海から上がって来て、特に大水が出たとき、大量に遡る」(日原の生物　宮本巌著)といわれています。
</p>
<p>
ゴギ(イワナ)が海に行くと、ヤマメがサクラマスになるように、アメマスという魚になります。アメマスは東北地方より北にしかいないとされている魚で、もしカイオがアメマスなら日本のアメマスの分布を大幅に塗り替える大発見になります。
</p>
<p>
また、なぜ「カイオ」という名前なのでしょう？海魚(かいうお)？あるいは回魚(かいうお)ではないか？と考える人もいます。昔のイワナの呼び名「嘉魚(かぎょ)」(良い魚の意味)が「かいお」という言葉となって残っているのではないか？と言う説もあります。
</p>
<p>
いずれにしても、昔は大量に遡るとまで言われたカイオも今ではほとんど見ることができなくなりました。下流にダムのない川として知られる高津川にも堰(せき)や堰堤(えんてい)などはたくさんあり、魚の行き来を難しくしています。その正体が解明される日はいつなのでしょうか？
</p>

<h2>アユの一生、森、川、海のつながり</h2>

<p>みなさんにアユは「川の魚でしょうか、海の魚でしょうか？」という質問をしたら。ほとんどの人は「川の魚に決まっている」と答えるでしょう。しかしそれでは半分しかあたっていません。何故ならアユの一生の半分は海で暮らすからです。
</p>
<p>
アユは秋に川の下流で生まれます。生まれてきた赤ちゃんアユは川の流れに乗って海まで下ります。海で動物プランクトンを食べて育った稚アユは春になると川を上ります。
</p>
<p>
川に入ったアユはしだいに川の石に付いたコケ(ケイ藻)をたべるようになり夏の間に大きく成長します。秋になると卵を産むために下流に降ったアユは卵を産むと1年の短い一生を終えるのです。
</p>
<p>
アユの成長を支えているのは川のコケ(ケイ藻)です。日本でも有数のアユの川である高津川の上流には豊かな森があり、そこからしみ出す栄養分が川のコケを育てています。
つまり良いアユの川とは、森と川と海が正常につながった川のことなのです。
</p>

<h2>助け合い：タナゴと二枚貝</h2>
<p>
高津川の中流から下流の限られた支流にアブラボテなどの珍しいタナゴの仲間が住んでいます。
</p>
<p>
土地の人たちからニゴーズと呼ばれる小さな魚ですが、とても面白い習性があります。それは、川の底に住んでいるマツカサガイやドブガイなど2枚貝の中に卵を産み、貝に稚魚を守ってもらうというものです。
</p>
<p>
タナゴの種類ごとに産む貝の種類も決まっているほどそのつながりは密接で、水質に敏感な二枚貝が住めないような川になってしまうとタナゴも絶滅してしまいます。
</p>
<p>
二枚貝の方もタナゴに助けてもらっています。二枚貝の赤ちゃんは、タナゴなどの魚のエラや皮膚に張り付いて生活するのです。こうやってタナゴと二枚貝はお互いに助け助けられながら生活しています。
</p>
<p>
アブラボテは日本に昔からいるタナゴの仲間ですが、島根県ではもう高津川と江の川でしか見られません。私たちの身近な小川に住む貴重な生き物たちはそれぞれがつながりを持って生きています。人間の生活に直接関係ないように見える生き物たちもいなくなれば、どんな影響があるのか分からないのです。
</p>

<h2>アユカケの鮎漁</h2>
<p>
アユカケはカマキリともいいます。えらぶたにあるカマのような大きなトゲでアユをひっかけて食べると言い伝えられています。アユの刺し網漁をしていると、川の底でダイヤモンドのようにきらきらと光る物が見えるときがあります。
</p>
<p>
アユカケがアユを引っかけて、口に持って行こうとクルクル体を回すため、アユの腹がキラキラ光って見えるのだと川漁師さんは言います。また、アユカケは石の隙間で石と同じ色になってじっと動かずにいます。これをアユカケの石化けといいます。アユカケがそこにいることに気づかないアユが近寄ってきたら突然大きな口でパックリとくわえます。
</p>
<p>
アユをたっぷりと食べるアユカケは当然とても美味しい魚です。北陸地方の川では冬のアラレの降るころ産卵のため川を下ることからアラレガコとよび、とても珍重します。
</p>
<p>
高津川のアユカケはとても大きくなり、昔は30cmを越えるものも珍しくなかったそうです。今ではそこまでの大物は滅多にいませんがそれでも全国の川で高津川のアユカケの大きさはピカ一なのです。
</p>

<h2>ツガニと鮎：食べたり食べられたり不思議な関係</h2>
<p>
アユとツガニはどちらも高津川を代表する味覚です。魚とカニ、お互い何の関係もないように見えますが、実は深い関係があります。
</p>
<p>
アユもツガニも一生のうちの一時期を海で過ごします。アユは秋に川の下流で生まれ孵化した赤ちゃんアユは川の流れに乗って海まで行きます。沿岸で育つ赤ちゃんアユのエサは動物プランクトン、このエサにツガニが大きく関係しています。
</p>
<p>
ツガニはアユよりも少し遅れて冬に河口で卵を産みます。孵化した赤ちゃんガニは親ガニとは全く違う形、プランクトンの状態で海を漂います。このプランクトン状態の赤ちゃんガニが育ち盛りの稚アユたちの良いエサとなるのです。
</p>
<p>
エサをたくさん食べて力を付けた稚アユたちは春先に川を上り、夏に川で大きく成長します。やがて秋、大人になったアユたちは再び川を下り、産卵ののち、1年の短い一生を終えます。
</p>
<p>
ちょうどその頃、川を上ってきた親のツガニは、役目を終えて死んだ親アユを食べることで産卵のための力を付けて河口に向かうのです。このような食べたり食べられたりの不思議な関係で、アユとツガニはお互いの命をつないできたのです。
</p>

<h2>高津川と益田川</h2>
<p>
私たちの住む流域には高津川と益田川という2つの川が流れています。河口がある益田市では2つの川が山から運んだ砂や土でできた平地の上に町があります。
</p>
<p>
2つの川は元々下流で繋がった1つの川でした。河口部には大きな湖があり、港として栄えた時代もあります。ながいながい時間をかけて山から運ばれた砂や土は少しずつ湖を埋め、豊かな平野を作ってきました。
</p>
<p>
大水の度に大きくその姿を変えてきた川は今からおよそ400年前人間の手によってはっきりと2つの川に分かれました。道もあまりなかった時代、上流に物を運ぶ道として高津川を利用するためでした。今のような機械もトラックもなかった頃のことです。工事には想像もできないほどの労力と時間がかかったことでしょう。
</p>
<p>
こうして今のような姿になった高津川と益田川、2つの川は今も私たちに大きな恩恵を与えてくれています。
兄弟のような2つの川、私たちはふるさとの川を同じように大切に守っていかなければなりません。
</p>






 




<h2>この図鑑について</h2>
<p>
この「高津川流域デジタル魚図鑑」は清流日本一・高津川に生息する魚類を中心とした水生生物の資源データを調査・収集分析し一元化するとともに、環境の変化に伴う時系列の比較となる資料を作成することを目的とし、このたび作成いたしました。</p>
<p>
また、この図鑑がふるさと教育の一環として、流域の子供達の学習教材への利用を通じて川の魅力を引き出し、地域への誇りと環境保全意識が高まる事を期待しています。</p>
<p>本コンテンツに関してご質問や使用方法等ありましたら、ホームページ上記の「お問い合わせ」よりご連絡ください。</p>
<p>本コンテンツ作成は高津川流域を中心に環境保全活動を行っている特定非営利活動法人アンダンテ21が主体となり、各関係者と連携しながら行いました。連携団体に関しては以下の通りです。</p>

<ul>
	<li>
	<div>発注者：</div><div>益田地区広域市町村圏事務組合</div></li>
	<li>
	<div>制作：</div><div>特定非営利活動法人アンダンテ21</div></li>
		<li>
		<div>技術：</div><div>Aaron Rubin</div></li>
	<li>
	<div>協力：</div><div>高津川漁協<br>島根県立宍道湖自然館ゴビウス<br>島根県水産技術センター</div></li>
</ul>


</main>

{% endblock %}
