{% extends "base.html" %}

{% set title = "ホーム" %}
{% block content %}

<main class="home">
<h1>高津川流域専用さかな図鑑へようこそ</h1>
<img src="images/takatsugawa-home.jpg" alt="">
<p>
　私達が住んでいる地域には高津川と益田川という大きな川が流れています。どんなところに、どんな魚が住んでいるか知っていますか？みんなで探検してみよう！！</p>

<a class="navigation-link" href="ichiran.html">図鑑へGO！！</a>

<h2>この図鑑について</h2>
<p>
　この「高津川流域デジタル魚図鑑」は清流日本一・高津川に生息する魚類を中心とした水生生物の資源データを調査・収集分析し一元化するとともに、環境の変化に伴う時系列の比較となる資料を作成することを目的とし、このたび作成いたしました。</p>
<p>
　また、この図鑑がふるさと教育の一環として、流域の子供達の学習教材への利用を通じて川の魅力を引き出し、地域への誇りと環境保全意識が高まる事を期待しています。</p>
<p>本コンテンツに関してご質問や使用方法等ありましたら、ホームページ上記の「お問い合わせ」よりご連絡ください。</p>
<p>　本コンテンツ作成は高津川流域を中心に環境保全活動を行っている特定非営利活動法人アンダンテ21が主体となり、各関係者と連携しながら行いました。連携団体に関しては以下の通りです。</p>

<ul>
	<li>
	<div>発注者：</div><div>益田地区広域市町村圏事務組合</div></li>
	<li>
	<div>制作：</div><div>特定非営利活動法人アンダンテ21</div></li>
		<li>
		<div>技術：</div><div>Aaron Rubin</div></li>
	<li>
	<div>協力：</div><div>高津川漁協<br>島根県立宍道湖自然館ゴビウス</div></li>
</ul>


</main>

{% endblock %}
