{% extends "base.html" %}

{% set title = "ホーム" %}
{% block content %}

<main class="home">
<h1>高津川流域専用さかな図鑑へようこそ</h1>
<img src="images/takatsugawa-home.jpg" alt="">
<p>
私たちが住んでいるところには高津川と益田川という川が流れています。川の中をそっとのぞくとたくさんの魚が泳ぎ回り、虫や植物が住処をつくり、まさに自然の大きな水族館。どんなところに、どんな魚が住んでいるか知っていますか？</p>
<p>さあ、みんなで探検してみよう！！</p>

<a class="jumbo-link" href="/ikimono/ichiran.html">図鑑へGO！！</a>

<h2>ごあいさつ</h2>
<p>この高津川流域“さかな図鑑”は4年連続清流日本一・高津川及び隣接する益田川に生息する魚類を中心とした水生生物の資料データを一元化し、生態系変化の時系列比較となる基礎資料作成を目的とする自然環境保全事業の一環として作成いたしました。</p>
<p>図鑑は小学校高学年でも理解できるように工夫しています。学校でのふるさと教育教材やモバイル端末を通じた現場での魚種確認など幅広い利用によって、次世代を担う地域の子供たちが、生き物や川の魅力を見つけ出し、地域への誇りと環境保全意識が高まることを期待しています。</p>
<p>本コンテンツは、地域環境保全活動を実践しているNPO法人アンダンテ２１が中心になり、2年間にわたり流域内各現場に赴き、捕獲・撮影した魚のみで作成されており、調査にあたっては、総合教育で参加した小学生をはじめ、たくさんの関係者のご協力によって発刊となりました。</p>

<div class="signature">
<p>平成27年4月</p>
<p>発行者：益田地区広域市町村圏事務組合</p>
</div>
</main>

{% endblock %}
