{% extends "base.html" %}

{% set body_class = "ichiran-body" %}
{% set title = "一覧" %}

{% block content %}

<script async type="application/dart" src="/ichiran.dart"></script>
<script async src="/packages/browser/dart.js"></script>

<header class="ichiran-header">
	<h1>生き物一覧</h1>
</header>

<div class="search-dropdown"><span id="dropdown-label">検索エリアを表示</span><span id="dropdown-caret" class="collapsed">&#x25BC;</span></div>

{% import 'ichiran-macros.html' as macros %}

<div id="search-area" class="collapsed">

  <div class="search-section">
    <div class="search-header">記事のテキストで検索<input type="text" id="article-search"></div>
  </div>

	<div class="search-section">
		<div class="search-header">生息地で検索</div>
		{{ macros.river_section("takatsu", "高津") }}
		{{ macros.river_section("masuda", "益田") }}
	</div>

</div>

<ol class="animal-tiles">
	{% for animal in animals %}
	<li data-animal-name="{{animal.romaji}}">
	{{ macros.animal_tile(animal) }}
	</li>
	{% endfor %}
</ol>

{% endblock %}
