{% extends "base.html" %}

{% set body_class = "ichiran-body" %}
{% set title = "一覧" %}

{% block content %}

<script async type="application/dart" src="index.dart"></script>
<script async src="packages/browser/dart.js"></script>

<header class="ichiran-header">
	<h1>高津川流域魚図鑑</h1>
</header>

<div class="search-dropdown"><span id="dropdown-label">検索エリアを表示</span><span id="dropdown-caret" class="collapsed">&#x25BC</span></div>

{% import 'search-macros.html' as search_macros %}

<div id="search-area" class="collapsed">

	<div class="search-section" id="include">
		<div class="search-header">以下の生息地に住んでいる魚しか含まない</div>
		{{ search_macros.river_section("takatsu", "高津", "include") }}
		{{ search_macros.river_section("masuda", "益田", "include") }}
	</div>

	<div class="search-section" id="exclude">
		<div class="search-header">以下の生息地に住んでいる魚を除く</div>
		{{ search_macros.river_section("takatsu", "高津", "exclude") }}
		{{ search_macros.river_section("masuda", "益田", "exclude") }}	
	</div>
</div>
</div>

<ol class="fish-tiles">
	{% for fish in fish %}
	<li data-fishname="{{fish.romaji}}">
	{{fish.render_tile()}}
	</li>
	{% endfor %}
</ol>

{% endblock %}