{% extends "base.html" %}

{% set title = "参考文献" %}
{% block content %}

<main class="sankou-page">
<h1>参考文献リスト</h1>

<table>
<tr>
<th>題名</th>
<th>出版元</th>
<th>出版年</th>
</tr>
<tr>
<td>日本の淡水魚</td>
<td>山と渓谷社</td>
<td>1989</td>
</tr>
<tr>
<td>ゴビウスと水の生きものたちのガイドブック</td>
<td>島根県立宍道湖自然館ゴビウス</td>
<td>2011</td>
</tr>
<tr>
<td>水辺の小わざ</td>
<td>山口県土木建築部河川課</td>
<td>2008</td>
</tr>
<tr>
<td>改訂しまねレッドデータブック2014動物編</td>
<td>島根県環境生活部自然環境課</td>
<td>2014</td>
</tr>
<tr>
<td>島根県の淡水魚(既報の整理)</td>
<td>(財)ホシザキグリーン財団</td>
<td>1999</td>
</tr>
<tr>
<td>高津川総合学術調査研究報告</td>
<td>島根県立益田高等学校</td>
<td>1963</td>
</tr>
<tr>
<td>日本産魚類検索　全種の同定　第三版</td>
<td>東海大学出版会</td>
<td>2013</td>
</tr>
<tr>
<td>高津川水系の生物に関する総合開発調査</td>
<td>島根県漁政課</td>
<td>1972</td>
</tr>
<tr>
<td>第2回　自然環境保全基礎調査　(河川調査報告書)</td>
<td>島根県(環境庁委託)</td>
<td>1979</td>
</tr>
<tr>
<td>高津川水系の淡水魚展資料</td>
<td>野中里山倶楽部</td>
<td>2000</td>
</tr>
<tr>
<td>河川調査報告書(魚類調査)高津川水系支流</td>
<td>島根県</td>
<td>2001</td>
</tr>
<tr>
<td>河川調査報告書(高津川水系)支流</td>
<td>島根県</td>
<td>2002</td>
</tr>
<tr>
<td>まみずにすむカメの現状と未来</td>
<td>島根県立宍道湖自然館ゴビウス</td>
<td>2003</td>
</tr>
<tr>
<td>しまねのエビ、カニ</td>
<td>島根県立宍道湖自然館ゴビウス</td>
<td>2008</td>
</tr>
<tr>
<td>田んぼの生き物図鑑</td>
<td>山と渓谷社</td>
<td>2013</td>
</tr>
<tr>
<td>日本の両生爬虫類</td>
<td>山と渓谷社</td>
<td>2002</td>
</tr>
<tr>
<td>日原の生物</td>
<td>日原町教育委員会</td>
<td>1973</td>
</tr>

</table>
</main>


{% endblock %}
