{% extends "base/mamechishiki.html" %}

{% block article %}
<h2>{{title}}</h2>
<p>
私たちの住む流域には高津川と益田川という2つの川が流れています。河口がある益田市では2つの川が山から運んだ砂や土でできた平地の上に町があります。
</p>
<p>
2つの川は元々下流で繋がった1つの川でした。河口部には大きな湖があり、港として栄えた時代もあります。ながいながい時間をかけて山から運ばれた砂や土は少しずつ湖を埋め、豊かな平野を作ってきました。
</p>
<p>
大水の度に大きくその姿を変えてきた川は今からおよそ400年前人間の手によってはっきりと2つの川に分かれました。道もあまりなかった時代、上流に物を運ぶ道として高津川を利用するためでした。今のような機械もトラックもなかった頃のことです。工事には想像もできないほどの労力と時間がかかったことでしょう。
</p>
<p>
こうして今のような姿になった高津川と益田川、2つの川は今も私たちに大きな恩恵を与えてくれています。
兄弟のような2つの川、私たちはふるさとの川を同じように大切に守っていかなければなりません。
</p>
{% endblock %}
