<!DOCTYPE html>
<html> <head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href = "/static/main.css"/>
<title>高津川の図鑑</title>
</head>
<body class="{{frame_class}}">
<!--<header>魚の図鑑です</header> -->
<!--<div class="body"> -->

<div class="{{body_class}}">

	<main class="content">
		{% block content %}
		{% endblock %}
	</main>

</div>
	<!--<nav class="nav">
		<a href="www.google.com">Google</a>
	</nav> 
</div>-->
<!--<footer>以上魚の図鑑でした</footer>	-->

</body> 
</html>