{% extends "base.html" %}

{% set body_class = "fish-page" %}

{% block content %}
<script async type="application/dart" src="fish_page.dart"></script>
<script async src="packages/browser/dart.js"></script>

<div class="fish-page">
	<header class="fish-header">
		<div>
			<img src="/low-res/ichiran/{{fish.romaji}}.jpg"></img>
		</div>

		<div>
			<p>和名：{{fish.kana}}</p>
			<p>学名：{{fish.latin}}</p>
			<p>科名：{{fish.family}}</p>
			<p>属名：{{fish.genus}}</p>
		</div>

		<div id = "location">
			<table>
				<th>
					<td>上流</td>
					<td>中流</td>
					<td>下流</td>
					<td>河口</td>
				</th>
				<tr>
					<td>高津川</td>
					<td>{{"&#x25EF" if fish.takatsu_zyou()}}</td>
					<td>{{"&#x25EF" if fish.takatsu_chuu()}}</td>
					<td>{{"&#x25EF" if fish.takatsu_ge()}}</td>
					<td>{{"&#x25EF" if fish.takatsu_kakou()}}</td>
				</tr>
				<tr>
					<td>益田川</td>
					<td>{{"&#x25EF" if fish.masuda_zyou()}}</td>
					<td>{{"&#x25EF" if fish.masuda_chuu()}}</td>
					<td>{{"&#x25EF" if fish.masuda_ge()}}</td>
					<td>{{"&#x25EF" if fish.masuda_kakou()}}</td>
				</tr>
			</table>
		</div>

		<div id = "rarity">
			<h3>
				レア度
			</h3>
			<div id = "rarity-stars">
				{{fish.rarity_stars()}}
			</div>
		</div>

	</header>

	<article>
		{% block article %}

		{% endblock %}
	</article>
	<footer>
	<a href="/" class="navigation-link">一覧へ戻る</a>
	</footer>
</div>
{% endblock %}