header, section, footer, aside, nav, main, article, figure
{ 
display: block; 
}

* {
background-color: black;
color: #FFFFFF;
font-family: Century Gothic, sans-serif;
font-size: 1.05em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
color:#FFFFFF;
text-decoration: none}
}     
a:visited {color:#FFFFFF;} 
a:hover {color:#FFFFFF;} 
a:active {color:#FFFFFF;} 

.fish-tile, figure {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box; 
border-width: 2px;
border-radius: 6px; 
border-style: solid;
border-color: white;
margin: 0.5vw;
}

figure {
  float: left;
  max-width: 38%;
  max-height: 100%;
}

.fish-tile {
  height: 150px;
}

.fish-tile:hover {
border-color: orange;
-webkit-transform: scale(1.25, 1.125);
transform: scale(1.25, 1.125);
}

.fish-tile *, figure * {
  display: block;
  text-align: center;
}

.fish-tile img {
    vertical-align: top;
    max-width: 100%;
    max-height: 70%;
}

figure img {
  max-width: 100%;
  max-height: 100%;
}

.navigation-link {
  background-color: #4479BA; 
  height: 20vh;
  line-height: 20vh;
  font-size: 5vw;
  text-align: center;
}

.navigation-link:hover {
  background-color: orange;
}

article, .navigation-link {
  max-width: 700px;
  margin: auto;
}

header {
  text-align: center;
  max-width: 500px;
  margin: auto; 
}

header div {
 display: inline-block;
}

header p {
font-size: 1.2em;
}

@media(max-width: 470px) {
header p {
  font-size: 0.95em;
}
}

@media print {
  * {
    background-color: white;
    color: black;
  }

  article {
    width: 100%;
  }

  .navigation-link {
    display: none;
  }

  figure {
    padding: 2%;
  }
}