{% extends "base/sakana.html" %}

{% block article %}
<p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget convallis lorem. Maecenas sit amet lacus mollis purus tristique faucibus non eget risus. Duis condimentum, erat a mollis pulvinar, ligula libero aliquet ligula, sollicitudin suscipit lectus dui eget purus. Cras pulvinar dolor in dui interdum tempus. In sed massa pulvinar, porttitor magna eu, vehicula quam. Nam ut turpis quam. 
</p>
<p>
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum varius diam orci, sit amet ullamcorper turpis ultrices a. Donec sit amet pharetra ligula. Integer ex quam, egestas quis libero vitae, vestibulum fermentum tellus. Duis gravida aliquam egestas.
</p>  
{% endblock %}
