@import 'compass/reset';
@import 'compass/css3/flexbox';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';
@import 'compass/css3/box-sizing';

$primary-background: #113;
$secondary-background: #119;
$interactable: #4479ba;
$highlighted: #808;
$print-background: #fff;
$text-color: #e8e8e8;
$print-text-color: #000;
$image-border-color: #fff;
$rounded-border: 7px;
$no-background: '(max-width: 700px)';
$fish-header-bottom-split: '(max-width: 725px)';
$small-font-size: .8em;

/* Begin general HTML element styles */

body {
  background-color: $primary-background;
  color: $text-color;
  font-size: 24px;
  font-family: Century Gothic, sans-serif;
  @media print {
    font-size: 6pt;
    color: $print-text-color;
    background-color: $print-background;
  }
}

h1 {
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
  @media (max-width: 400px) {
    font-size: 1.5em;
  }
}

p {
  line-height: 1.2em;
  margin-bottom: .5em;
}

table, 
th, 
td {
  border: 1px solid $text-color;
  @media print {
    border-color: $print-text-color;
  }
  text-align: center;
}

a, 
a:visited {
  color: $text-color;
  text-decoration: none;
}

/* End general HTML element styles */

/* Begin fish page background styles */

.fish-page {
  background-size: 100% 100%;
  transition: background-image 3s ease-in-out;
}

$seisokuchi: 'takatsu-zyou', 'takatsu-chuu', 'takatsu-ge', 'takatsu-kakou', 
'masuda-zyou', 'masuda-chuu', 'masuda-ge', 'masuda-kakou';

@each $a-seisokuchi in $seisokuchi {
  body.#{$a_seisokuchi} {
    background-image: url(/images/seisokuchi/#{$a_seisokuchi}.jpg);
  }
}

/* End fish page background styles */

/* Begin major container styles */

ol.fish-tiles {
  @include display-flex(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  li {
    display: inline-block;
    &.hidden {
      display: none;
    }
  }
}

div.fish-page {
  background-color: $primary-background;
  border-radius: $rounded-border;
  margin: 2vh auto;
  max-width: 700px;
  padding: 2vh 2vw;
  @media print {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  @media #{$no-background} {
    margin-bottom: 0;
  }
}

article {
  min-height: 25vh;
  > div {
    border-bottom-style: solid;
    border-bottom-width: .3em;
    border-bottom-color: $text-color;
    @media print {
      border-bottom-color: $print-text-color;
    }
    padding-bottom: 1em;
    padding-top: 1em;
  }
  > div.captioned-section {
    @include display-flex(flex);
    @include justify-content(top);
    @include align-content(top);
    @include align-items(center); /* necessary to prevent images from stretching */
    @include flex-direction(row);
    > img {
      display: inline-block;
      min-width: 40%;
      max-width: 40%;
      margin-right: 1em;
    }
  }
}

/* End container-like-thing styles */

/* Begin header styles */

header.navbar {
  background-color: $secondary-background;
  border-radius: $rounded-border;
  margin-bottom: 0;
  nav {
    width: 100%;
  }
  ol {
    width: 100%;
    display: inline-block;
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(flex-end);
  }
  a {
    display: inline-block;
    padding: .3em 2vw;
  }
  li {
    @include box-sizing(border-box);
    background-color: $interactable;
    display: inline-block;
    float: left;
    border-left-style: solid;
    border-left-width: .3vw;
    border-left-color: black;
    &:hover {
      background-color: $highlighted;
    }
  }
  @media (max-width: 420px) {
    li {
      width: 33.3%;
      text-align: center;
      &:first-child {
        border-left-width: 0;   
      }
      a {
        font-size: $small-font-size;
      }
    }
  }
  @media print {
    display: none;
  }
}

header.ichiran-header {
  background-image: url(/images/takatsugawa.jpg);
  background-size: 50%;
  border-radius: $rounded-border;
  @media (max-width: 930px) {
    background-size: 100%;
  }
}

header.fish-header {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include flex-direction(row);
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: $text-color;
  border-bottom-width: .3em;
  > div, img, table {
    @include box-sizing(border-box);
    margin: 0 1% 1em 1%;
    width: 48%; 
  }
  img {
    @include align-self(center);
    border: 1px solid $text-color;
    @media print {
      border-color: $print-text-color;
    }
  }
  .classification {
    @include align-self(center);
    font-size: $small-font-size;
  }
  table, .rarity {
    @media #{$fish-header-bottom-split} {
      margin-left: 0;
      margin-right: 0;
      width: 100%;    
    }
  }
  td, .rarity-header {
    padding: .25em;
  }
  .rarity-header {
    @media #{$fish-header-bottom-split} {
      padding: 0;
    }
  }
  .rarity-stars {
    @media #{$fish-header-bottom-split} {
      padding-top: 0;
    }
  }
}

.rarity {
  border: 1px solid $text-color;
  @media print {
    border-color: $print-text-color;
  }
}

.rarity-stars {
  border-top: 1px solid $text-color;
  @media print {
    border-color: $print-text-color;
  }
  color: yellow;
  padding-top: 1em;
}

/* End header styles */

/* Begin search area styles */

.search-dropdown, .search-header {
  background-color: $secondary-background;
  padding: .2em .5em;
  border-radius: $rounded-border;
}

.search-dropdown {
  margin-bottom: .1em;
}

#dropdown-caret {
  display: inline-block;
  border-radius: 50%;
  padding: .5em .4em .3em .4em;
  margin-left: 1em;
  font-size: $small-font-size;
  background-color: $interactable;
  &:hover {
    background-color: $highlighted;
  }
  cursor: default;
  -webkit-touch-callout: none;
  @include user-select(none);
}

#dropdown-caret.collapsed {
  @include transform(rotate(90deg));
}

#search-area {
  font-size: $small-font-size;
  @include display-flex(flex);
  @include flex-direction(column);

  ol {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include flex-direction(row);   
  }

  li {
    background-color: $interactable;
    border-radius: $rounded-border;
    display: inline-block;
    padding: .25em 0;
    text-align: center;
    width: 24.8%;
    
    &:hover {
      background-color: $highlighted;
    }
  }

  .search-header, 
  li {
    margin-bottom: .2em;
  }

  input[type='checkbox'] {
    @include transform(scale(1.5));
    float: right;
    margin-right: 10px;
    margin-top: 3px;
  }

  &.collapsed {
    display: none;
  }

  @media (max-width: 600px) {
    .individual-river-section {
      display: inline-block;
      width: 49%;
    }

    ol {
      @include flex-direction(column);
      width: 100%;
    }

    li {
      width: 100%;
    }
  }
}

/* End search ara styles */

/* Begin image-box styles */

.fish-tile, 
figure {
  border-color: $image-border-color;
  border-radius: $rounded-border;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin: .5vw;
}

figure {
  max-width: 48%;

  img {
    max-height: 100%;
    max-width: 100%;
  }
  
  figcaption {
    margin: .2em 0;
  }
}

.fish-tile {
  height: 150px;

  img {
    max-height: 75%;
    max-width: 100%;
    min-width: 100%;
  }
  
  span {
    margin-top: .1em;
  }

  &:hover {
    @include transform(scale(1.1, 1.1));
    border-color: $highlighted;
  }
}

.fish-tile span,
figure figcaption {
  display: block;
  text-align: center;
}

/* End image-box styles */

.navigation-link {
  background-color: $interactable;
  border-radius: $rounded-border;
  display: block;
  font-size: 5vw;
  line-height: 10vh;
  min-width: 98%;
  padding-bottom: 1vh;
  padding-top: 1vh;
  text-align: center;
  margin-top: .3em;
  
  &:hover {
    background-color: $highlighted;
  }

  @media print {
    display: none;
  }
}

@media #{$no-background} {
  body.fish-page {
    background-image: none;
  }

  div.fish-page {
    border-radius: 0;
    margin-top: 0;
  }
}
