  @import "compass/reset";
  @import "compass/css3/flexbox";
  @import "compass/css3/transform";
  @import "compass/css3/user-interface";

  $primary: #111133;
  $secondary: #4479BA;
  $highlighted: #880088;

  /* Begin body styles */

  body {
    background-color: $primary;
    color: #e8e8e8;
    font-family: Century Gothic, sans-serif;
    font-size: 1.05em;
  }

  body.ichiran-body {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  body.fish-page {
    background-size: 100% 100%;
    transition: background-image 3s ease-in-out;
  }

  $seisokuchi: "takatsu-zyou", "takatsu-chuu", "takatsu-ge", "takatsu-kakou", 
  "masuda-zyou", "masuda-chuu", "masuda-ge", "masuda-kakou";

  @each $a_seisokuchi in $seisokuchi {
    body.#{$a_seisokuchi} {
      background-image: url('/seisokuchi/#{$a_seisokuchi}.jpg');
    }
  }

  /* End body styles */

  /* Begin container-like-thing styles */

  main, .gallery, header {
    @include display-flex(flex);
    @include flex-wrap(wrap);
  }

  main, .gallery {
    @include justify-content(space-around);
  }

  header {
    @include justify-content(center);
    @include align-items(center);
    text-align: center;
    margin-bottom: 1em;
  }

  div.fish-page {
    background-color: $primary;
    max-width: 700px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px 20px;
    border-radius: 10px;
  }

  article {
    font-size: 1.4em;
    min-height: 38.1vh;
  }

  .gallery {
    padding: 5px 5px 5px 5px;
  }

  /* End container-like-thing styles */

  /* Begin general HTML element styles */

  h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  table, th, td {
    border: 1px solid white;
    text-align: center;
  }

  td {
    padding: 0.3em;
  }

  a {
    color:#FFFFFF;
    text-decoration: none;
  }
  a:visited {color:#FFFFFF;}
  a:hover {color:#FFFFFF;}
  a:active {color:#FFFFFF;}

  /* End general HTML element styles */

  /* Begin header and header-specific styles */

  header.ichiran-header {
    background-image: url("/low-res/takatsugawa.jpg");
    background-size: 50%;
    border-radius: 10px;
  }

  header.fish-header {
    > div {
      width: 48%;
      text-align: center;
      margin-bottom: 1em;
    }
    img {
      max-width: 95%;
      max-height: 80%;
      margin: 0 auto;
      border: 2px solid white;
    }
    table {
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }
    p {
      font-size: 1.2em;
    }
  }

  div#location {
    margin-right: 5px;
  }

  #rarity {
   border: 1px solid white;
   min-height: 83px; /* To equal fish habitat table */
   h3 {
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    font-size: 1.5em;
  }
}

#rarity-stars {
  border-top: 1px solid white;
  color: yellow;
  padding-top: 12px;
}

/* End header and header-specific styles styles */

/* Begin image-box styles */

.fish-tile, figure {
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  margin: 0.5vw;
}

figure {
  max-width: 48%;
}

.fish-tile {
  height: 150px;
}

.fish-tile:hover {
  border-color: $highlighted;
  @include transform(scale(1.1, 1.1));
}

.fish-tile span, figure figcaption {
  display: block;
  text-align: center;
}

.fish-tile {
  img {
    max-width: 100%;
    min-width: 100%;
    max-height: 75%;
  }
  span {
    margin-top: 0.4em;
  }
}

figure {
  img {
    max-width: 100%;
    max-height: 100%;
  }
  figcaption {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

/* End image-box styles */

.navigation-link {
  display: block;
  min-width: 98%;
  background-color: $secondary;
  padding-top: 1vh;
  padding-bottom: 1vh;
  line-height: 10vh;
  font-size: 5vw;
  text-align: center;
  border-radius: 10px;
  @media print {
    display: none;
  }
}

.navigation-link:hover {
  background-color: $highlighted;
}

/* Begin search area styles */

.search-dropdown {
  margin-bottom: 0.1em;
  font-size: 2em;
  background-color:#880088;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 5px;
  @media(max-width: 385px) {
    font-size: 1.5em;
  }
}

#dropdown-caret {
  display: inline-block;
  transform: none;
  border-radius: 50%;
  padding: 0.4em;
  margin-left: 1em;
  background-color: #4479BA;
  cursor: default;
  -webkit-touch-callout: none;
  @include user-select(none);
}

#dropdown-caret.collapsed {
  @include transform(rotate(90deg));
}

.search-header {
  font-size: 1.2em;
  background-color: #880088;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  margin-bottom: 0.125em;
  border-radius: 5px;
}

#search-area {
  overflow: hidden;
  ol {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  li {
    display: inline-block;
    width: 24.6%;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    font-size: 2em;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    background-color: #4479BA;
    @media (max-width: 600px) {
      width: 49%;
      margin-bottom: 0.2em;
    }
  }
  input[type="checkbox"] {
    float: right;
    @include transform(scale(1.5));
    margin-right: 10px;
    margin-top: 3px;
  }
  .individual-river-section {
    margin-bottom: 1em;
  }

}

#search-area.collapsed {
  display: none;
}

/* End Search Area Styles */

@media(max-width: 700px) {
  body.fish-page {
    background-image: none;
  }
  div.fish-page {
    margin-top: 0;
  }
}

@media(max-width: 635px) {
  div#location {
    width: 98%;
    margin-bottom: 5px;
    margin-right: 0;
  }
  #rarity{
    width: 98%;
    min-height: 0; /* no reason to equal location table any more */
  }
  #rarity-stars {
    padding-top: 0;
  }
  #rarity h3 {
    font-size: 1em;
  }
  header.ichiran-header {
    background-size: 100%;
  }
  figure {
    max-width: 100%;
  }
}

@media(max-width: 490px) {
  header.fish-header p {
    font-size: 0.95em;
  }
  header h1 {
    font-size: 2.5em;
  }
}

@media(max-width: 320px) {
  div#location {
    font-size: 0.95em;
  }
  header h1 {
    font-size: 2em;
  }
}

@media print {
  * {
    background-color: white;
    color: black;
  }

  article {
    width: 100%;
  }
}