  @import "compass/reset";
  @import "compass/css3/flexbox";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "compass/css3/user-interface";
  @import "compass/css3/box-sizing";

  $primary-background: #111133;
  $secondary-background: #111199;
  $interactable: #4479BA;
  $highlighted: #880088;
  $text-color: #e8e8e8;
  $print-text-color: black;
  $rounded-border: 7px;
  $no-background: "(max-width: 700px)";
  $fish-header-bottom-split: "(max-width: 725px)";
  $small-font-size: 0.8em;

  /* Begin body styles */

  body {
  	background-color: $primary-background;
  	color: $text-color;
  	font-family: Century Gothic, sans-serif;
  	font-size: 24px;
  	@media print {
  		font-size: 6pt;
  		color: $print-text-color;
  		background-color: white;
  	}
  }

  body.fish-page {
  	background-size: 100% 100%;
  	transition: background-image 3s ease-in-out;
  }

  $seisokuchi: "takatsu-zyou", "takatsu-chuu", "takatsu-ge", "takatsu-kakou", 
  "masuda-zyou", "masuda-chuu", "masuda-ge", "masuda-kakou";

  @each $a_seisokuchi in $seisokuchi {
  	body.#{$a_seisokuchi} {
  		background-image: url('/images/seisokuchi/#{$a_seisokuchi}.jpg');
  	}
  }

  /* End body styles */

  /* Begin container-like-thing styles */

  main, .gallery, {
  	@include display-flex(flex);
  	@include flex-wrap(wrap);
  }

  main, .gallery {
  	@include justify-content(space-around);
  }

  div.fish-page {
  	background-color: $primary-background;
  	max-width: 700px;
  	margin: auto;
  	margin-top: 2vh;
  	margin-bottom: 2vh;
  	padding: 2vh 2vw;
  	border-radius: $rounded-border;
  	@media print {
  		max-width: 100%;
  		padding: 0;
  		margin: 0;
  	}
  	@media #{$no-background} {
  		margin-bottom: 0;
  	}
  }

  article {
  	min-height: 25vh;
  	> div {
  		@include display-flex(flex);
  		@include justify-content(top);
  		@include align-content(top);
      // necessary to prevent default stretching behavior for images
      @include align-items(center);
      @include flex-direction(row);
      border-top-style: solid;
      border-top-width: 0.3em;
      border-top-color: $text-color;
      @media print {
      	border-top-color: $print-text-color;
      }
      padding-bottom: 1em;
      padding-top: 1em;
      > img {
      	display: inline-block;
      	min-width: 40%;
      	max-width: 40%;
      	margin-right: 1em;
      }
  }
}

.gallery {
	padding: 5px 5px 5px 5px;
}

/* End container-like-thing styles */

/* Begin header-nav styles */

header.navbar {
	background-color: $secondary-background;
	border-radius: $rounded-border;
	margin-bottom: 0;
	nav {
		width: 100%;
	}
	ol {
		width: 100%;
		display: inline-block;
		@include display-flex(flex);
		@include flex-direction(row);
		@include justify-content(flex-end);
	}
	a {
		display: inline-block;
		padding: 0.3em 2vw;
	}
	li {
		@include box-sizing(border-box);
		background-color: $interactable;
		display: inline-block;
		float: left;
		border-left-style: solid;
		border-left-width: 0.3vw;
		border-left-color: black;
		&:hover {
			background-color: $highlighted;
		}
	}
	@media (max-width: 420px) {
		li {
			width: 33.3%;
			text-align: center;
			&:first-child {
				border-left-width: 0;	
			}
			a {
				font-size: $small-font-size;
			}
		}
	}
	@media print {
		display: none;
	}
}

h1 {
	text-align: center;
	font-size: 2em;
	@media (max-width: 400px) {
		font-size: 1.5em;
	}
	padding: 1em 0;
}

p {
	margin-bottom: 0.5em;
	line-height: 1.2em;
}

table, th, td {
	border: 1px solid $text-color;
	@media print {
		border-color: $print-text-color;
	}
	text-align: center;
}

a, a:visited {
	color: $text-color;
	text-decoration: none;
}

/* End general HTML element styles */

/* Begin header and header-specific styles */

header.ichiran-header {
	background-image: url("/images/takatsugawa.jpg");
	background-size: 50%;
	border-radius: $rounded-border;
	@media (max-width: 930px) {
		background-size: 100%;
	}
}

header.fish-header {
	@include display-flex(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include flex-direction(row);
	text-align: center;
	> div, img, table {
		@include box-sizing(border-box);
		margin: 0 1% 1em 1%;
		width: 48%;	
	}
	img {
		@include align-self(center);
		border: 1px solid $text-color;
		@media print {
			border-color: $print-text-color;
		}
	}
	.classification {
		@include align-self(center);
		font-size: $small-font-size;
	}
	table, .rarity {
		@media #{$fish-header-bottom-split} {
			margin-left: 0;
			margin-right: 0;
			width: 100%;	
		}
	}
	td, .rarity-header {
		padding: 0.25em;
	}
	.rarity-header {
		@media #{$fish-header-bottom-split} {
			padding: 0;
		}
	}
	.rarity-stars {
		@media #{$fish-header-bottom-split} {
			padding-top: 0;
		}
	}
}

.rarity {
	border: 1px solid $text-color;
	@media print {
		border-color: $print-text-color;
	}
}

.rarity-stars {
	border-top: 1px solid $text-color;
	@media print {
		border-color: $print-text-color;
	}
	color: yellow;
	padding-top: 1em;
}

/* End header and header-specific styles styles */

/* Begin image-box styles */

.fish-tile, figure {
	border-width: 2px;
	border-radius: $rounded-border;
	border-style: solid;
	border-color: white;
	margin: 0.5vw;
}

figure {
	max-width: 48%;
}

.fish-tile {
	height: 150px;
}

.fish-tile:hover {
	border-color: $highlighted;
	@include transform(scale(1.1, 1.1));
}

.fish-tile span, figure figcaption {
	display: block;
	text-align: center;
}

.fish-tile {
	img {
		max-width: 100%;
		min-width: 100%;
		max-height: 75%;
	}
	span {
		margin-top: 0.1em;
	}
}

figure {
	img {
		max-width: 100%;
		max-height: 100%;
	}
	figcaption {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}
}

/* End image-box styles */

.navigation-link {
	display: block;
	min-width: 98%;
	background-color: $interactable;
	padding-top: 1vh;
	padding-bottom: 1vh;
	line-height: 10vh;
	font-size: 5vw;
	text-align: center;
	border-radius: $rounded-border;
	@media print {
		display: none;
	}
}

.navigation-link:hover {
	background-color: $highlighted;
}

/* Begin search area styles */

.search-dropdown, .search-header {
	background-color: $secondary-background;
	padding: 0.2em 0.5em;
	border-radius: $rounded-border;
}

.search-dropdown {
	margin-bottom: 0.1em;
}

#dropdown-caret {
	display: inline-block;
	border-radius: 50%;
	padding: 0.5em 0.4em 0.3em 0.4em;
	margin-left: 1em;
	font-size: $small-font-size;
	background-color: $interactable;
	&:hover {
		background-color: $highlighted;
	}
	cursor: default;
	-webkit-touch-callout: none;
	@include user-select(none);
}

#dropdown-caret.collapsed {
	@include transform(rotate(90deg));
}

#search-area {
	font-size: $small-font-size;
	@include display-flex(flex);
	@include flex-direction(column);
	ol {
		@include display-flex(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@include flex-direction(row);	
	}
	li {
		display: inline-block;
		width: 24.8%;
		padding: 0.25em 0;
		border-radius: $rounded-border;
		text-align: center;
		background-color: $interactable;
		&:hover {
			background-color: $highlighted;
		}
	}
	.search-header, li {
		margin-bottom: 0.2em;
	}
	input[type="checkbox"] {
		float: right;
		@include transform(scale(1.5));
		margin-right: 10px;
		margin-top: 3px;
	}
	@media (max-width: 600px) {
		.individual-river-section {
			width: 49%;
			display: inline-block;
		}
		ol {
			@include flex-direction(column);
			width: 100%;
		}
		li {
			width: 100%;
		}
	}
}

#search-area.collapsed {
	display: none;
}

/* End Search Area Styles */

@media #{$no-background} {
	body.fish-page {
		background-image: none;
	}
	div.fish-page {
		margin-top: 0;
		border-radius: 0;
	}
}