<!DOCTYPE html>
<html> <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href = "/static/main.css"/>
<title></title>
</head>
<body>
<!--<header>魚の図鑑です</header> -->
<!--<div class="body"> -->
	<main class="content">
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
	<!--<nav class="nav">
		<a href="www.google.com">Google</a>
	</nav> 
</div>-->
<!--<footer>以上魚の図鑑でした</footer>	-->

</body> 
</html>