{% extends "base.html" %}

{% set body_class = "animal-page" %}
{% set animal = animal_map[page_name] %}
{% set background_class = animal.starting_location() %}
{% set background_data = 'data-locations="' + " ".join(animal.locations()) + '"' %}
{% set title = animal.kana %}

{% block content %}

<script async src="animal_page.js"></script>

<main class="animal-page">
	<header class="animal-header">

	<img {% if animal.is_long() %} class="long" {% endif %} src="{{animal.image('ichiran')}}" alt="">

		<ul class="classification">
			<li>和名：{{animal.kana}}</li>
			<li>学名：{{animal.latin}}</li>
			<li>科名：{{animal.ka}}</li>
			<li>属名：{{animal.zoku}}</li>
		</ul>

			<table id = "location">
				<tr>
					<th></th>
          {% for a_ryuuiki in ryuuiki %}
          <th>{{a_ryuuiki['kanji']}}</th>
          {% endfor %}
				</tr>
        {% for river in kawa %}
				<tr>
          <td>{{river['kanji']}}川</td>
          {% for a_ryuuiki in ryuuiki %}
          <td>{{"&#x25EF;" if animal.inhabits(river['romaji'], a_ryuuiki['romaji'])}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

      <div class="rarity">
        <div class="rarity-header">レア度</div>
        <div class="rarity-stars">
          {{animal.rarity_stars()}}
        </div>
      </div>

    </header>

    <article>

      {% block article %}

      {% endblock %}

    </article>
    <footer>
      <a href="ichiran.html" class="jumbo-link">一覧へ戻る</a>
    </footer>
    </main>
    {% endblock %}
