{% extends "base.html" %}

{% set body_class = "plant-page" %}
{% set plant = plant_map[page_name] %}
{% set title = plant.kana %}
{% from "detail-page-macros.html" import article_section %}
{% block content %}

<!--<script async src="plant_page.js"></script>-->

<main class="detail-page">
	<header class="plant-header">

	<img src="{{plant.image('ichiran')}}" alt="">

		<ul class="classification">
			<li>和名：{{plant.kana}}</li>
			<li>学名：{{plant.latin}}</li>
			<li>種類：{{plant.type}}</li>
		</ul>

			<table class = "kaki">
				<tr>
          {% for month in range(1, 13) %}
          <th>{{month}}月</th>
          {% endfor %}
				</tr>
        <tr>
          {% for month in range(1, 13) %}
          <td>{{"&#x25EF;" if plant.blooms(month)}}</td>
          {% endfor %}
        </tr>
     </table>

     <table class = "seiikubasho">
       <tr>
        {% for basho in seiikubasho %}
        <th>{{basho}}</th>
        {% endfor %}
       </tr>
       <tr>
        {% for basho in seiikubasho %}
        {% if basho == "湿地・岸辺" and plant.kishibe_type %}
        <td>&#x25EF;*</td>
        {% else %}
        <td>{{"&#x25EF;" if plant.inhabits(basho)}}</td>
        {% endif %}
        {% endfor %}
       </tr>
     </table>

     {% if plant.kishibe_type %}
     <div>*{{plant.kishibe_type}}</div>
     {% endif %}
    </header>

    <article>

      {% block article %}

      {% endblock %}

    </article>
    <footer>
      <a href="ichiran.html" class="jumbo-link">一覧へ戻る</a>
    </footer>

    <script>
    {% include 'ichiran-jumbo-link-script.js' %} 
    </script>

    </main>

    {% endblock %}
