{% extends "base/ikimono.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約25cm</p>
<p>地方名：吉和ビラメ</p>
{% endcall %}

{% call article_section(fish.image('yoko')) %}
<p>体の側面に沿ってパーマークという黒い小判型模様が７〜１０個ある。</p>
<p>同じく体の側面に赤い点がたくさんある。</p>
{% endcall %}

{% call article_section(fish.image('aburabire')) %}
<p>尾ビレの前にアブラビレというヒレがあるのはサケの仲間の共通の特徴。</p>
<p>もともと高津川には住んでいなかった魚だが、放流により定着した。上流の冷たい水のきれいな場所でしか住めない。</p>

{% endcall %}

{% endblock %}
