{% extends "base/ikimono.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：30cm</p>
<p>地方名：セイサク、ギギュウ</p>
{% endcall %}

{% call article_section(fish.image('hige')) %}
<p>長い口ヒゲが８本ある。</p>
{% endcall %}

{% call article_section(fish.image('obire')) %}
<p>体型はナマズ型だが、尾ビレの形がナマズ型と異なり深く切れ込んだ形になっている。</p>
{% endcall %}

{% call article_section(fish.image('yougyo')) %}
<p>胸ビレ、背ビレにトゲがあり刺されると痛い。</p>
<p>子供の頃は黄色と黒っぽい模様があるが大きくなると全体が真っ黒になる。</p>
{% endcall %}

{% endblock %}
