{% extends "base/ikimono.html" %}

{% block article %}

{% from 'animal-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約6cm</p>
<p>地方名：カワドジョウ</p>
<p>島根県レッドデータブック：絶滅危惧Ⅰ類(CR+EN)</p>

{% endcall %}

{% call article_section("") %}
<p>体は細長くドジョウ型で、尾ひれの付け根が細くならず寸胴型。</p>
<p>1970年に高津川で発見された新種のドジョウ。学名にタカツの名がつく。</p>
<p>キレイな川の上流の石の下に住んでいる。</p>
{% endcall %}

{% call article_section(animal.image('yoko')) %}
<p>薄黄色の体に黒い島縞模様がある。</p>
{% endcall %}

{% call article_section(animal.image('yubi'))%}
<p>大きさは成魚でも大人の指くらいにしかならない。</p>
{% endcall %}

{% endblock %}
