{% extends "base/ikimono.html" %}

{% block article %}

{% from 'fish-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約10cm</p>
<p>地方名：ヨツメ、ヨツメブナ</p>
<p>島根県レッドデータブック：絶滅危惧Ⅰ類(CR+EN)</p>
{% endcall %}

{% call article_section("") %}
<p>体は平べったくタイ型。川の魚とは思えないような体つきをしている。</p>
{% endcall %}

{% call article_section(fish.image('kao')) %}
<p>えらぶたの後ろに大きな目のような模様がある。</p>
<p>目を中心に放射状のオレンジ色の線が何本もある。</p>
{% endcall %}

{% call article_section(fish.image('ue')) %}
<p>背中を見ると線状の模様がある。</p>

{% endcall %}

{% endblock %}
