<!DOCTYPE html>
<html manifest="/takatsugawa-zukan.appcache"> <head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href = "/stylesheets/main.css"/>
<title> {{title}} | 高津川流域図鑑</title>
</head>
<body class="{{body_class}} {{background_class}}">

<header class="navbar">
	<nav>
	<ol>
	<li><a href="/home.html">ホーム</a></li>
	<li><a href="/ichiran.html">一覧</a></li>
	<li><a href="/contact.html">お問い合わせ</a></li>
	<li><a href="/kaisetsu.html">用語の解説</a></li>
	</ol>
	</nav>
</header>
<div id="appcache-notifications"></div>

	{% block content %}
	{% endblock %}

<script type="text/javascript">

var notifications = document.querySelector("#appcache-notifications");
var appcache = window.applicationCache;
var downloaded = "";
var cacheProperties = {
	filesDownloaded: 0,
	totalFiles: 241
};
appcache.addEventListener("downloading", function(event) {
		notifications.innerHTML = 'キャッシュ更新中！しばらくこのページに残ってください。<span id="downloaded">0</span>/241ダウンロード済み。';
		notifications.classList.toggle("displayed");
		notifications.classList.toggle("in-progress");
		downloaded = document.querySelector("#downloaded");
		});

appcache.addEventListener("progress", function(event) {
	cacheProperties.filesDownloaded += 1;
	downloaded.innerHTML = cacheProperties.filesDownloaded;
		});

cacheFinished = function(event) {
	notifications.innerHTML = "キャッシュされました！オフラインでもアクセス出来るようになりました。このページをリフレッシュしたり違うページに移動したりしてください。";
	notifications.classList.toggle("finished");
	notifications.classList.toggle("in-progress");
}

appcache.addEventListener("updateready", cacheFinished);
appcache.addEventListener("cached", cacheFinished);
</script>
</body> 
</html>
