<!DOCTYPE html>
<html manifest="/takatsugawa-zukan.appcache"> <head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href = "/stylesheets/main.css"/>
<title> {{title}} | 高津川流域図鑑</title>
</head>
<body class="{{body_class}} {{background_class}}">

<nav>
	<ul>
		<li><a href="/home.html">ホーム</a></li><li><a href="/ichiran.html">一覧</a></li><li><a href="/mamechishiki/mamechishiki-index.html">豆知識</a></li><li><a href="/contact.html">お問い合わせ</a></li><li><a href="/sankoubunken.html">参考文献</a></li>
	</ul>
</nav>
<div id="appcache-notifications"></div>

{% block content %}
{% endblock %}

<script src="/appcache-notify.js"></script>
</body> 
</html>
