{% extends "base/shokubutsu.html" %}
{% block article %}

{% call article_section() %}
<p>茎は褐色を帯び、柔らかくて、みずみずしく、やや這った下部から多数の枝を立ち上げる。</p>
<p>葉は対生し、長柄をもち、長さ3～6㎝の菱状卵形で、先は鈍い。葉先の半分だけに縁に粗い鋸歯が片側4～7個。</p>
{% endcall %}

{% endblock %}
