{% extends "base/ikimono.html" %}

{% block article %}

{% from 'animal-page-macros.html' import article_section %}
{% call article_section("") %}
<p>成魚サイズ：約3.5cm</p>
<p>地方名：ガンツー</p>
<p>島根県レッドデータブック：準絶滅危惧(NT)</p>
{% endcall %}


{% call article_section(animal.image('kao')) %}
<p>ハサミや甲羅が赤い。</p>
<p>足に毛が生えている。</p>
{% endcall %}

{% call article_section(animal.image('senaka')) %}
<p>甲羅はデコボコしている。</p>
<p>そっくりなアカテガニとは甲羅のふちに切れ込みがあるかないかで見分ける。</p>
<p>（アカテガニ→切れ込みがない、ベンケイガニ→切れ込みがある）</p>
{% endcall %}

{% endblock %}
