{% extends "base/ikimono.html" %}

{% block article %}

{% from 'detail-page-macros.html' import article_section %}


{% call article_section("") %}
<p>成魚サイズ：約25cm</p>
<p>地方名：ゴリ、ドンコツ、ボンコツ</p>
<p>島根県レッドデータブック：絶滅危惧Ⅱ類(VU)</p>
{% endcall %}

{% call article_section("") %}
<p>急流に住んでおりドンコよりさらに体が平べったい。</p>
<p>匹見川で2000年に発見された新種のドンコで学名にヒキミの名がついている。</p>
{% endcall %}

{% call article_section(animal.image('hara')) %}
<p>ハゼの仲間だが腹ビレが吸盤になっていない。</p>
{% endcall %}

{% call article_section(animal.image('obi')) %}
<p>黄色の体色に３本の黒い帯のような模様がある。</p>

{% endcall %}

{% call article_section(animal.image('kuchi')) %}
<p>鋭い歯が内側に向いて並んでいる。</p>

{% endcall %}


{% endblock %}
