{% extends "base/ikimono.html" %}

{% block article %}

{% from 'animal-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約8cm</p>
<p>地方名：ヤナギバエ</p>
{% endcall %}

{% call article_section("") %}
<p>体は平べったいフナ型、この仲間ではややずんぐりしている。</p>
{% endcall %}

{% call article_section(animal.image('hige')) %}
<p>短い口ひげが２本ある。</p>

{% endcall %}

{% call article_section(animal.image('yoko')) %}
<p>白っぽい体色に薄い黒い縦縞が体の真ん中にある。</p>
<p>また、黒い縦縞の周りに金色の縁取りがある。</p>
{% endcall %}



{% endblock %}
