{% extends "base/ikimono.html" %}

{% block article %}

{% from 'detail-page-macros.html' import article_section %}

{% call article_section("") %}
<p>成魚サイズ：約7cm</p>
<p>地方名：ヘソゴリ、セゴリ</p>
{% endcall %}

{% call article_section("") %}
<p>体型は細長くハゼ型。</p>
<p>産卵期には腹が青くなる。</p>
{% endcall %}

{% call article_section(animal.image('yoko')) %}
<p>体側に6個の黒い横島がある。</p>
<p>ハゼの仲間共通の腹ビレが吸盤になっている。</p>
{% endcall %}

{% call article_section(animal.image('kao')) %}
<p>ほほにミミズのような赤い縞模様がある。</p>
{% endcall %}


{% endblock %}
